{
  "read_from_cache":true,
  "write_to_cache":true,
  "workflow_failure_mode" : "ContinueWhilePossible",
  "default_runtime_attributes": {
    "docker": "us.gcr.io/broad-gotc-prod/gatk4-joint-genotyping:1.3.0-1527875152",
    "slurm_account": "{{ SLURM_ACCOUNT }}",
    "tmp": "{{ TMPDIR }}",
    "singularity_cache": "{{ SINGULARITY_CACHE }}",
    "singularity_bind_path": "{{ SINGULARITY_BIND_PATH }}"  
  }
}
