{
  "read_from_cache":false,
  "default_runtime_attributes": {
    "docker": "broadinstitute/gatk:4.0.0.0",
    "maxRetries": 3,
    "slurm_account": "{{ SLURM_ACCOUNT }}",
    "tmp": "{{ TMPDIR }}",
    "singularity_cache": "{{ SINGULARITY_CACHE }}",
    "singularity_bind_path": "{{ SINGULARITY_BIND_PATH }}"
  }
}
